[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/ctrip.vim"]
	path = bundle/ctrip.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/autopairs"]
	path = bundle/autopairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/ricciocri/vim-puppet.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
